@import 'style.scss';

.header {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100vw;
  border-bottom: $light-grey 1px solid;
  background-color: rgba($white, 0.65);
  backdrop-filter: blur(8px);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.header__open-btn {
  display: none;
}

.header__open-img {
  width: 26px;
  height: 26px;
}

.header__nav {
  font-family: $nunito-medium;
  font-size: 18px;
  color: $black;
}

.header__nav-list {
  display: flex;
  gap: 28px;
}

.header__nav-item {
  flex-shrink: 0;
}

.header__nav-item-link {
}

.header__links {
  display: flex;
  gap: 28px;
}

.header__links-item {
}

.header__links-item-img {
  width: 28px;
  height: 28px;
}

.header__burger-menu {
  position: fixed;
  z-index: 1999;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  padding-top: 64px;
  background-color: $white;
}

.header__burger-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: calc(100dvh - 64px);
  gap: 8%;
}

.header__burger-list .header__nav-item {
}

.header__burger-list .header__nav-item-link {
  font-family: $nunito-bold;
  font-size: 24px;
  color: $black;
}

.main {
  position: relative;
}

.main::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 150vh;
  $dotSize: 24px;
  content: '';
  background-color: $white;
  background-image: url('../img/DotPattern.png');
  background-repeat: repeat;
  background-position: center;
  background-size: $dotSize;
  clip-path: polygon(0 0, 100vw 0, 100vw 100vh, 0 150vh);
}

.home {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.home::after {
  position: absolute;
  z-index: -1;
  $width: 337.135px;
  $height: 332.253px;
  top: calc($height / -3);
  left: calc($width / -2.45);
  width: $width;
  height: $height;
  content: '';
  transform: rotate(-172deg);
  opacity: 0.5;
  background-image: url('../img/Blob.svg');
  background-position: center;
  background-size: cover;
}

.home::before {
  position: absolute;
  z-index: -1;
  $width: 337.135px;
  $height: 332.253px;
  right: calc($width / -1.45);
  bottom: 0;
  width: $width;
  height: $height;
  content: '';
  transform: rotate(-172.467deg);
  opacity: 0.5;
  background-image: url('../img/Blob.svg');
  background-position: center;
  background-size: cover;
}

.home__container {
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home__title {
  position: relative;
}

.home__title::after {
  position: absolute;
  top: 16px;
  left: 104px;
  width: 112px;
  height: 59px;
  content: '';
  animation: home-arrow 1.5s step-end infinite;
  background-image: url('../img/home/Arrow (1).svg');
  background-position: center;
  background-size: cover;
}

@keyframes home-arrow {
  0% {
	background-image: url('../img/home/Arrow (1).svg');
  }
  50% {
	background-image: url('../img/home/Arrow (2).svg');
  }
  0% {
	background-image: url('../img/home/Arrow (1).svg');
  }
}

.about {
  padding: 80px 0;
  //margin-bottom: 40px;
}

.about__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about__content {
  height: 100%;
}

.about__title {
  margin-bottom: 40px;
}

.about__block {
  position: relative;
  width: 100%;
  max-width: 720px;
  min-height: 320px;
  margin-bottom: 40px;
  padding: 28px;
  border: 3px solid $black;
  border-radius: 16px;
  background: $white;
  transform-style: preserve-3d;
}

.about__block::before {
  position: absolute;
  top: -56px;
  left: -124px;
  width: 155.173px;
  height: 428.236px;
  content: '';
  transform: translateZ(-1px);
  background-image: url('../img/about/People.svg');
  background-position: center;
  background-size: cover;
}

.about__text {
  font-family: $nunito-regular;
  font-size: 18px;
  text-align: justify;
  color: $black;
}

.soft {
  padding: 80px 0;
  //margin-bottom: 40px;
}

.soft__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.soft__title {
  margin-bottom: 40px;
}

.soft__block {
  display: flex;
  justify-content: center;
  margin-left: 360px;
}

.soft__vertical {
  position: relative;
  top: 0;
  bottom: 0;
  flex-grow: 0;
  flex-shrink: 0;
  width: 3px;
  background-color: $black;
}

.soft__vertical::before {
  line-height: 0;
  position: absolute;
  top: -4.5px;
  left: -4.5px;
  width: 12px;
  height: 12px;
  content: '';
  letter-spacing: 0;
  border-radius: 50%;
  background-color: $black;
}

.soft__vertical::after {
  line-height: 0;
  position: absolute;
  bottom: -4.5px;
  left: -4.5px;
  width: 12px;
  height: 12px;
  content: '';
  letter-spacing: 0;
  border-radius: 50%;
  background-color: $black;
}

.soft__block-list {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  gap: 24px;
}

.soft__block-item {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.soft__block-item-line {
  flex-shrink: 0;
  width: 28px;
  height: 3px;
  background-color: $black;
}

.soft__block-item-content {
  font-family: $nunito-medium;
  font-size: 12px;
  line-height: 42px;
  flex-shrink: 0;
  height: 48px;
  padding: 0 16px;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  color: $black;
  border: 3px solid $black;
  border-radius: 6px;
}

.soft__block-item:nth-child(odd) {
  transform: translateX(-100%) scaleX(-1);
}

.soft__block-item:nth-child(odd) .soft__block-item-content {
  transform: scaleX(-1);
}

.hard {
  padding: 80px 0;
}

.hard__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hard__title {
  margin-bottom: 40px;
}

.hard__block {
  display: flex;
}

.hard__vertical {
  position: relative;
  top: 0;
  bottom: 0;
  flex-grow: 0;
  flex-shrink: 0;
  width: 3px;
  background-color: $black;
}

.hard__vertical::before {
  line-height: 0;
  position: absolute;
  top: -4.5px;
  left: -4.5px;
  width: 12px;
  height: 12px;
  content: '';
  letter-spacing: 0;
  border-radius: 50%;
  background-color: $black;
}

.hard__vertical::after {
  line-height: 0;
  position: absolute;
  bottom: -4.5px;
  left: -4.5px;
  width: 12px;
  height: 12px;
  content: '';
  letter-spacing: 0;
  border-radius: 50%;
  background-color: $black;
}

.hard__one {
  transform: scaleX(-1);
}

.hard__two .hard__item:nth-child(-n+4) {
  display: none;
}

.hard__list {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 24px 0;
  gap: 48px;
}

.hard__item {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
}

.hard__item-line {
  flex-grow: 0;
  flex-shrink: 0;
  width: 28px;
  height: 3px;
  margin-top: 22.5px;
  background-color: $black;
}

.hard__item-category {
  font-family: $nunito-medium;
  font-size: 12px;
  line-height: 48px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 156px;
  height: 48px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $white;
  border-radius: 6px;
  background-color: $black;
}

.hard__block-item-list {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 28px;
  gap: 24px;
}

.hard__block-item-item {
  font-family: $nunito-medium;
  font-size: 12px;
  line-height: 42px;
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  width: 200px;
  height: 48px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $black;
  border: 3px solid $black;
  border-radius: 6px;
  background-color: $white;
}

.hard__reverse {
  display: inline-block;
  transform: scaleX(-1);
}

.hard__block-item-item:nth-child(1)::before {
  position: absolute;
  z-index: -1;
  top: 21px;
  left: -31px;
  width: 28px;
  height: 3px;
  content: '';

  background-image: url('../img/skills/DashLine (1).svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hard__block-item-item:nth-child(2)::after {
  position: absolute;
  z-index: -1;
  top: -27px;
  left: -71.5px;
  width: 68.5px;
  height: 49.5px;
  content: '';

  background-image: url('../img/skills/DashLine (2).svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hard__block-item-item:nth-child(3)::after {
  position: absolute;
  z-index: -1;
  top: -99px;
  left: -110.5px;
  width: 107.5px;
  height: 121.5px;
  content: '';

  background-image: url('../img/skills/DashLine (3).svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hard__block-item-item:nth-child(4)::after {
  position: absolute;
  z-index: -1;
  top: -171px;
  left: -149.5px;
  width: 146.5px;
  height: 192.5px;
  content: '';

  background-image: url('../img/skills/DashLine (4).svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.projects {
  padding: 80px 0;
}

.projects__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects__title {
  margin-bottom: 40px;
}

.projects__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 0;
  justify-content: center;
  margin: 0 auto;
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 48px;
}

.projects__item {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  max-width: 480px;
  gap: 16px;
}

.projects__item-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding-top: calc(56.25% - (24px + 28px));
  border: 3px solid $black;
  border-radius: 16px;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.projects__block-links {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  padding-bottom: 4%;
  gap: 22px;
}

.projects__block-links [data-tooltip]::after {
  right: -200%;
  left: -200%;
  text-align: center;
}

.project__block-link {
  border: 2px solid $white;
  border-radius: 50%;
  background-color: $white;
}

.project__block-img {
  width: 100%;
  max-width: 28px;
  height: 100%;
  max-height: 28px;
  object-fit: cover;
}

.projects__item-text {
  flex-shrink: 0;
  width: 100%;
}

.projects__item-text p {
  font-family: $nunito-medium;
  font-size: 16px;
  line-height: normal;
  color: $black;
}

.projects__item-text b {
  font-family: $nunito-bold;
  font-weight: normal;
  font-style: normal;
}

.projects__item-text-title {
  margin-bottom: 4px;
  text-align: justify;
}

.projects__item-text-stack {
  text-align: left;
}

.reviews {
  margin-bottom: 80px;
  padding: 80px 0;
}

.reviews__title {
  margin-bottom: 40px;
}

.reviews__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

// SWIPER

.swiper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.swiper {
  flex-grow: 0;
  flex-shrink: 0;
  width: 1080px;
  height: 336px;
  margin: 0 !important;
}

.swiper-wrapper {
}

.swiper-button-next, .swiper-button-prev {
  position: static !important;
  z-index: 1000;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100% !important;
  max-width: 17px !important;
  height: 100% !important;
  max-height: 28px !important;
  margin-top: 0 !important;
  background-color: $white;
  background-image: url('../img/reviews/SliderArrow.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button-prev {
  margin-right: 24px;
}

.swiper-button-next {
  transform: rotateY(180deg);
}

.reviews__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  width: 336px;
  height: 336px;
  border: 3px solid $black;
  border-radius: 16px;
  background-color: $white;
}

.reviews__card-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  cursor: grab;
  gap: 16px;
}

.reviews__card-header {
  display: flex;
  width: 100%;
  gap: 16px;
}

.reviews__card-header-titles {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  width: 221px;
  gap: 4px;
}

a.reviews__card-header-titles {
  cursor: pointer;
}

.reviews__card-img {
  flex-grow: 0;
  flex-shrink: 0;
  width: 72px;
  height: 72px;
  border: 3px solid $black;
  border-radius: 50%;
  background-color: $white;
  object-fit: cover;
}

.reviews__card-title {
  font-family: $nunito-medium;
  font-size: 16px;
  line-height: 100%; /* 16px */
  height: 16px;
  color: $blue;
  text-decoration-line: underline;
}

.reviews__card-title:hover {
  transform: scale(1);
  color: rgb($blue, 0.65);
  text-decoration-line: underline;
}

.reviews__card-subtitle {
  font-family: $nunito-medium;
  font-size: 12px;
  line-height: normal;
  width: 100%;
  color: $black;
}

.reviews__card-text {
  font-family: $nunito-regular;
  font-size: 12px;
  line-height: normal;
  width: 100%;
  height: 210px;
  text-align: justify;
  color: $black;
}

.footer {
  background-color: $black;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
}

.footer__author {
  flex-grow: 0;
  flex-shrink: 0;
  width: 140px;
}

.footer__author, .footer__date {
  font-family: $nunito-medium;
  font-size: 16px;
  line-height: normal;
  white-space: nowrap;
  color: $white;
}

.footer__contacts {
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  margin: 0 auto;
  gap: 16px;
}

.footer__contacts-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__contacts-link {

}

.footer__contacts-img {
  width: auto;
  height: auto;
  max-height: 16px;
}

.footer__contacts-text {
  font-family: $nunito-medium;
  font-size: 16px;
  color: $white;
}

.footer__date {
  flex-grow: 0;
  flex-shrink: 0;
  width: 140px;
  text-align: right;
}

@media (max-width: 1200px) {
  .swiper {
	width: 720px;
  }
}


@media (max-width: 1024px) {
  .about__block::before {
	display: none;
  }
}

@media (max-width: 900px) {
  .hard__block-item-item {
	font-size: 10px;
	width: 170px;
  }

  .hard__item-line {
	width: 14px;
  }

  .hard__item-category {
	font-size: 10px;
  }
}

@media (max-width: 800px) {
  .soft__block-item-line {
	width: 14px;
  }
  .soft__block-item-content {
	padding: 0 8px;
  }

  .soft__block {
	justify-content: flex-start;
	width: 368px;
	margin: 0 auto;
  }

  .soft__block-item:nth-child(odd) {
	transform: translateX(0) scaleX(1);
  }

  .soft__block-item:nth-child(odd) .soft__block-item-content {
	transform: scaleX(1);
  }

  .hard__one {
	display: none;
  }

  .hard__two .hard__item:nth-child(-n+4) {
	display: flex;
  }

  .swiper {
	width: 360px;
  }

  .swiper-pagination-bullet-active {
	background-color: $black !important;
  }

  .swiper-pagination {
	width: 336px !important;
  }

  .footer__container {
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding: 20px 0;
	gap: 8px;
  }

  .footer__contacts {
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	gap: 8px;
  }

  .footer__date, .footer__author {
	text-align: center;
  }
}

@media (max-width: 730px) {
  .container {
	padding: 0 20px;
  }

  .header__nav {
	display: none;
  }

  .header__open-btn {
	display: block;
  }

  .home {
	padding: 40px 0;
  }

  .home__title {
	width: 340px;
  }

  .about {
	padding: 40px 0;
  }

  .about__title {
	margin-bottom: 20px;
  }

  .soft {
	padding: 40px 0;
  }

  .soft__title {
	margin-bottom: 20px;
  }

  .hard {
	padding: 40px 0;
  }

  .hard__title {
	margin-bottom: 20px;
  }

  .projects {
	padding: 40px 0;
  }

  .projects__title {
	margin-bottom: 20px;
  }

  .projects__list {
	grid-template-columns: repeat(1, 1fr);
  }

  .reviews {
	padding: 40px 0;
  }

  .reviews__title {
	margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .swiper-button-next, .swiper-button-prev {
	opacity: 0 !important;
  }

  .soft__block {
	width: 342px;
  }

  .soft__block-item-line {
	width: 8px;
  }

  .hard__block-item-list {
	margin-left: 8px;
  }

  .hard__item-line {
	width: 8px;
  }

  .hard__block-item-item:nth-child(1)::before {
	left: -11px;
  }

  .hard__block-item-item:nth-child(2)::after {
	left: -51.5px;
  }

  .hard__block-item-item:nth-child(3)::after {
	left: -90.5px;
  }

  .hard__block-item-item:nth-child(4)::after {
	left: -129.5px;
  }
}

@media (max-width: 383px) {
  .soft__block {
	width: 342px;
  }

  .soft__block {
	transform: scale(0.90);
	transform-origin: top center;
  }

  .hard__block {
	transform: scale(0.90);
	transform-origin: top center;
  }
}
