@import '../css/reset.min.css';

@font-face {
  font-family: 'nunito-regular';
  src: url('../fonts/Nunito-Regular.woff2') format('woff2'),
  url('../fonts/Nunito-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito-medium';
  src: url('../fonts/Nunito-Medium.woff2') format('woff2'),
  url('../fonts/Nunito-Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito-bold';
  src: url('../fonts/Nunito-Bold.woff2') format('woff2'),
  url('../fonts/Nunito-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

$nunito-regular: 'nunito-regular', sans-serif;
$nunito-medium: 'nunito-medium', sans-serif;
$nunito-bold: 'nunito-bold', sans-serif;

$white: #fff;
$black: #141414;
$light-grey: #d8d8d8;
$red: #fa0008;
$blue: #0096dc;

* {
  line-height: normal;
  scroll-behavior: smooth;
}

::selection {
  color: $white;
  background-color: $light-grey;
}

/* Работает в Firefox */
* {
  scrollbar-width: none;
}

/* Работает в Chrome, Edge и Safari */
::-webkit-scrollbar {
  width: 0;
}

body {
  overflow-x: hidden;
  color: $black;
}

.container {
  max-width: 1396px;
  margin: 0 auto;
  padding: 0 40px;
}

.btn {
  display: inline-block;
}

h1 {
  font-family: $nunito-bold;
  font-size: 56px;
  letter-spacing: 1.12px;
}

h1 > .highlight {
  color: $red;
}

h2 {
  font-family: $nunito-medium;
  font-size: 36px;
  letter-spacing: 1.8px;
  text-transform: uppercase;

}

h2 > .highlight {
  font-size: 56px;
}

p {
  font-family: $nunito-regular;
}

button {
  border: none;
  outline: none;
  background: none;
}

a, button {
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: all;
  transform-origin: center;
  color: $black;
}

button:hover, a:hover {
  transform: scale(0.95);
  color: rgb($black, 0.65);
}

button:focus-visible, a:focus-visible {
  color: $black;
  outline: $black 3px solid;
  outline-offset: -3px;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  font-family: $nunito-regular;
  font-size: 12px;
  line-height: 1;
  position: absolute;
  top: 1em;
  right: -100%;
  height: 32px;
  padding: 8px 8px 8px 8px;
  content: attr(data-tooltip);
  transition: 0.2s;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  color: $black;
  border: 2px solid $black;
  border-radius: 8px;
  background: $white;
}

[data-tooltip]:hover::after {
  top: 3em; /* Положение подсказки */
  opacity: 1 !important;
}

.element-animation {
  opacity: 0;
}

.element-animation.element-show {
  transition: opacity 0.8s;
  opacity: 1;
}